<header class="navbar">
  <div class="container nav-inner">

    <a class="logo" href="#home" aria-label="Jose Ruiz">
      <img src="/assets/logo.png" alt="Jose Ruiz Logo" class="logo-image" />
    </a>

    <div class="right">
      <nav class="links" aria-label="Primary">
        <a href="#projects">Projects</a>
        <a href="#experience">Experience</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </nav>

      <nav class="socials" aria-label="Social links">
        <a href="https://github.com/Josema321" target="_blank" aria-label="GitHub">
          <img src="/assets/github.png" alt="GitHub" class="social-icon" />
        </a>
        <a href="https://www.linkedin.com/in/jose-manuel-ruiz-barrientos/" target="_blank" aria-label="LinkedIn">
          <img src="/assets/linkedin.png" alt="LinkedIn" class="social-icon" />
        </a>
      </nav>
    </div>
  </div>
</header>
